<md-card class="configure">
  <h1>Generate Hipster Ipsum Text</h1>
  <md-card-content>
    <h3>Number of paragraphs</h3>
    <md-slider
        [max]="10"
        [min]="1"
        [step]="1"
        [thumb-label]="true"
        [tick-interval]="1"
        [value]="paragraphs"
        [(ngModel)]="paragraphs">
    </md-slider>
    <!-- Select text type -->
    <h3>Text type</h3>
    <md-select placeholder="Select text type" [(ngModel)]="selectedType" name="type">
      <md-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </md-option>
    </md-select>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="generate()">Generate ipsum</button>
  </md-card-actions>
</md-card>

<br>

<md-spinner *ngIf="loading" class="spinner" color="accent"></md-spinner>

<md-card *ngIf="content" [@flyIn]>

    <div class="flexbox-container">
      <h2>Generated text</h2>
      <button md-mini-fab [ngxClipboard]="loremContent" (click)="copy()"><md-icon>content_copy</md-icon></button>
    </div>

  <md-card-content>
    <div #loremContent class="generated" [@generatedIpsum]="lorem_state"  [innerHTML]="content">Loading...</div>
  </md-card-content>
</md-card>
