h1,h2,h3 {
    color: #00BCD4;
}

.generated {
   font-size: 1.2rem;
   line-height: 1.8rem;
}

.flexbox-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spinner {
    text-align: center;
    margin: 0 auto;
}