/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Roboto', sans-serif;
    background-color: #E0F7FA;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}